html {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body {
    color: #f0edf2;
    background-color: rgba(40,53,79,.9);
}
body,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
    margin: 0;
}
button {
    outline: none;
}
ul {
    list-style: none;
}
footer {
    position: relative;
    font-size: 12px;
    background: #202020;
    padding: 30px 50px;
}
a {
    text-decoration: none;
    color: #fff;
}
.navbars {
	position: fixed;
    left: 0;
    width: 100%;
    height: 62px;
    display: block;
    z-index: 97;
}
.navbars nav {
	position: relative;
	height: 62px;
	background-color: rgba(40,53,79,.9);
	z-index: 96;
}
.navbars ul {
    line-height: 1.6;
    height: 100%;
    padding: 0 50px;
    margin: 0;
    font-size: 0;
}
.navbars .nav-left {
	float: left;
    font-size: 0;
    margin: 0;
}
.navbars .nav-right {
	position: absolute;
	height: 62px;
    right: 0;
    top: 0;
    padding: 8px 14px;
}
.navbars .nav-download {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 12px 33px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
}
.nav-download:hover {
	border-radius:25px;
}
.navbars .nav-transition {
	transition: border-radius 1s;
	-moz-transition: border-radius 1s;	/* Firefox 4 */
	-webkit-transition: border-radius 1s;	/* Safari 和 Chrome */
	-o-transition: border-radius 1s;	/* Opera */
}
.navbars .nav-logo{
    display: inline-block;
	width: 245px;
	height: 62px;
	background-repeat: no-repeat;
    background-position: center center;
	background-image: url(../images/logo.png);
}
.navbars ul li {
	display: inline-block;
	height: 100%;
}
.navbars ul li:hover {
	background-color: rgba(53, 74, 108, 0.85);
}
.nav-active {
	background-color: rgba(53, 74, 108, 0.85);
}
.navbars ul li a {
	position: relative;
	display: block;
	text-align: center;
	color: rgba(255,255,255,.85);
	font-size: 17px;
    min-width: 99px;
    padding-top: 15px;
}
/* video */
.section-home-video {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 99;
}
.box-mask {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background:black;
    z-index: 100;
}
.vedio-alert {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 101;
    display: none;
}
.vedio-alert video {
    clear: both;
    display: block;
    margin: auto;
    width: 80%;
    height: 568px;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.model {
    overflow-x: hidden;
    overflow-y: auto;
}
video::-webkit-media-controls-enclosure {
    width: fit-content;
}
.section-home-video>video {
	position: absolute;
    display: block;
}
#cls {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
#cls:hover {
    background-color: #fff;
    color: black;
    border-radius: 25px;

}
#cls:active {
    padding: 0;
}
#watch {
    padding: 20px 110px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #dbbb7a;
}
#watch:hover {
    background-color: rgba(0,0,0,0.5);
}
/* end video */
section {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
/*1vh = 1%*/
.section-home {
	position: relative;
	margin-top: 0;
    min-height: 420px;
    height: 100vh;
    background-position: top;
    background-size: cover;
}
.bg-index {
    background-image: url(../images/bg-video.png);
}
.section-home-text {
    position: absolute;
    padding-top: 100px;
    height: 300px;
    width: 100%;
    text-align: center;
}

/* 此处开始为打字动画 */
@keyframes typing { 
    from { 
        width: 0;
    }
}
@keyframes blink { 
    0% {
        border-right: .1em solid;
    }
    50% { 
        border-color: transparent; 
    }
    100% {
        border: none;
    }
}

.typing {
    overflow: hidden;
    animation: typing 4s steps(4,end) forwards,
    blink .5s step-end 10;
}
/* end 打字动画 */

.section-home-text h2 {
    height: 50px;
    font-size: 50px;
    width: 200px; 
    line-height: 50px;
    font-weight: normal;
    color: #ffcb60;
    margin: 42px auto;
    background-image: linear-gradient(to bottom right, rgba(255,232,184,1), rgba(175,133,48,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-introduce, .section-hero {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.bg-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    padding-bottom: 50%;
}
.LOL-introduce {
    padding: 30px;
    font-size: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg-introduce.jpg);
}
.LOL-introduce h2 {
    color: #fdee92;
    text-shadow: 0 4px 5px rgb(46, 89, 180);
}
.section-hero {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://pic.90sjimg.com/back_pic/00/04/13/75/2143d331b10ce5d89a3c91bcac19ef49.jpg);
}
.hero-image {
    float: left;
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-introduce {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-style: italic;
}
.hero-introduce p {
    text-shadow: 10px 10px 5px #1d1365;
}
.hero-introduce>span {
    background: #00A483;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
    padding: 5px;
}
.hero-introduce>ul {
    font-size: 15px;
    width: 200px;
    margin: 0 auto;
    text-align: left;
}
.hero-introduce>ul li{
    vertical-align: middle;
}
.how-to-play {
    font-size: 24px;
    height: 700px;
}
.bg-1 {
    background-image: url(../images/module_1.jpg);
}
.bg-2 {
    background-image: url(../images/module_2.jpg);
}
.bg-3 {
    background-image: url(../images/module_3.jpg);
}
.bg-blur {
    float: left;
    width: 100%;
    height:700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.how-to-play .content {
    position:absolute;
    left: 10px;
    right: 10px;
    padding: 30px;
    font-size: 16px;
    width: 40%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    color: #dac68c;
}
footer ul {
	text-align: center;
    padding: 30px 0; 
    border-bottom: 1px solid rgba(255,255,255,.15);
}
footer ul li {
    display: inline-block;
    height: 100%;
    color: #ccc;
}
footer ul li:not(:last-child)::after {
    content: "|";
}
footer ul li a, footer ul li {
    padding-right: 10px;
}
footer ul li a:hover{
    opacity:0.5;
}
/* 响应式设计 */
@media only screen and (max-width: 630px) {
    .hero-image {
        position: absolute;
        height: 160px;
        left: 10%;
        bottom: 100px;
    }
    .hero-introduce {
        font-size: 20px;
    }
    .hero-introduce>ul {
        position: absolute;
        right: 0;
        bottom: 100px;
    }
    .navbars ul {
    	display: none;
    }
    .how-to-play .content {
        width: 70%;
    }
    #watch {
    	display: none !important;
    }
    .LOL-introduce {
        text-align: left;
    }
}
